@import url("/main.css");

.select-language-container{
    position: relative;
    display: flex;
    align-items: center;
    font-size: var(--text-sm);
}

.select-language-container img{
    position: absolute;
    right: 0.25rem;
    pointer-events: none;
    transition: transform 0.3s ease;
}

.select-language-container button{
    padding: 0.5rem 1.75rem 0.5rem 0.75rem;
    display: block;
    border-radius: var(--rounded-full);
    background-color: var(--purple-400);
    border: none;
    border-radius: 1rem;
    color: white;
    text-transform: uppercase;   
}

.select-language-container-dropdown{
    position: absolute;
    top: 2.5rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: var(--purple-400);
    width: 100%;
    align-items: center;
    z-index: 1000;
    animation: coming-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.select-language-container-dropdown-option{
    padding: 0.5rem;
    white-space: nowrap;
    text-transform: uppercase;
    color: white;
    font-size: var(--text-sm);
    cursor: pointer;
}

.select-language-container-dropdown-option:hover{
    opacity: 0.7;
}

@keyframes coming-top {
    0% {
      transform: translateY(-1rem);
    }
    100% {
      transform: translateY(0px);
    }
  }

