@import url("/main.css");

.umboarding-error-container {
  width: 100vw;
  height: 90vh;
  display: flex;
  padding: 2rem;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: white;
  animation: coming-down 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.umboarding-error-container p {
  font-size: var(--text-sm);
  font-weight: var(--font-light);
}

.umboarding-error-container span{
    display: flex;
    gap: 1rem;
}

.umboarding-error-container-dot{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: var(--rounded-full);
    background-color: var(--orange-500);
}

.umboarding-error-container a {
  border-radius: var(--rounded-full);
  background-color: var(--purple-400);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  rotate: 180deg;
  animation: pulse 2s ease 0s infinite normal forwards;
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes coming-down {
  0% {
    transform: translateY(80%);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (min-width: 600px) {
  .umboarding-error-container {
    padding-left: 4rem;
    padding-right: 4rem;
    height: 100vh;
  }
}