:root {
  --purple-700: #8b00ff;
  --purple-600: #9928f7;
  --purple-500: #9824f8;
  --purple-400: #ae4cff;
  --orange-500: #ff9100;

  --intensify-color: #9928f7;

  --gray-200: #e5e7eb;
  --gray-300: #e6e6e6;
  --gray-500: #b6b6b6;
  --gray-600: #b3b3b3;

  --text-2xs: 0.5rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;

  --rounded-xs: 0.25rem;
  --rounded-sm: 0.375rem;
  --rounded-md: 0.5rem;
  --rounded-lg: 0.75rem;
  --rounded-xl: 1rem;
  --rounded-2xl: 2rem;
  --rounded-3xl: 4rem;
  --rounded-full: 100%;

  --font-black: 900;
  --font-extrabold: 800;
  --font-bold: 700;
  --font-semibold: 600;
  --font-medium: 500;
  --font-regular: 400;
  --font-light: 300;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: var(--font-regular);
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

* {
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
  user-select: none;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
}

body {
  background-color: var(--purple-600);
}

.home-body{
  background-color: var(--gray-300)
}

img{
  -webkit-user-drag: none;
  -moz-window-dragging: none;
}

a {
  text-decoration: none;
}

@media (min-width: 600px) {
  :root {
    --text-2xs: 0.75rem;
    --text-xs: 1rem;
    --text-sm: 1.125rem;
    --text-base: 1.25rem;
    --text-lg: 1.5rem;
    --text-xl: 1.875rem;
    --text-2xl: 2.25rem;
    --text-3xl: 3rem;
    --text-4xl: 3.5rem;
    --text-5xl: 4rem;
  }
}
