@import url("/main.css");

.modal-popup-container {
  display: none;
  position: fixed;
  place-items: end;
  bottom: 0;
  left: 0;
  min-width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 10vh;
  padding-top: 10vh;
  z-index: 1000;
  overflow-y: auto;
}

.modal-popup-container-content {
  position: relative;
  bottom: 0;
  background-color: #fefefe;
  padding: 1.25rem;
  border-radius: var(--rounded-xl) var(--rounded-xl) 0 0;
  width: 100%;
  z-index: 2000;
  animation: coming-down 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.modal-popup-container-content-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: -0.25rem;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgb(243, 240, 240);
  width: 4.5rem;
  height: 4.5rem;
  border-radius: var(--rounded-full);
  border: solid 1px var(--purple-600);
}

.modal-popup-button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  width: auto;
}

@keyframes coming-down {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes going-down {
  0% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (min-width: 600px) {
  .modal-popup-container-content-icon {
    transform: scale(1.5);
    top: -2.5rem;
    left: 48%;
   
  }
}
