@import url('/main.css');


.carousel-container {
  position: relative;
  margin: auto;
  overflow: hidden;
  border-radius: var(--rounded-lg);
  border-top: 0.75rem solid var(--purple-700);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  background-color: white;
  padding: 1rem;
}

.carousel-container h2{
  font-size: var(--text-sm);
  font-weight: var(--font-semibold);
  margin-bottom: 1rem;
}

.carousel-container-slider {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  transition: transform 0.5s ease-in-out;
}

.carousel-container-slider-item {
  min-width: 70%;
  text-align: center;
}

.carousel-container-slider-item legend{
  position: relative;
  bottom: 2.5rem;
  font-size: var(--text-xs);
  font-weight: var(--font-light);
  color: white;
}

.carousel-container-slider-item img {
  width: 100%;
  height: auto;
  border-radius: var(--rounded-md);
}

.carousel-container button{
  position: absolute;
  top: 50%;
  padding: 0.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: var(--rounded-full);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
}

#next-button  {
  right: 1rem;
  transform: rotate(90deg);
}

#prev-button{
  left: 1rem;
  transform: rotate(270deg);
}

