@import url("/main.css");

.umboarding-identification-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 2rem;
  gap: 2rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.umboarding-identification-container:nth-of-type(1){
  display: flex;
}

.umboarding-identification-container-select-language {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.umboarding-identification-container h1{
  position: absolute;
  color: white;
  font-size: var(--text-lg);
  font-weight: var(--font-semibold);
  animation: blink 2s infinite;
  top: 1rem;
}

.umboarding-identification-container-content {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.umboarding-identification-container-wrapper h1{
  position: relative;
  color: white;
  font-size: var(--text-lg);
  font-weight: var(--font-semibold);
  animation: blink 2s infinite;
  top: -3.5rem;
}

.umboarding-identification-container-wrapper{
  position: relative;
  top: -2rem;
  border: 2px solid white;
  width: 80vw;
  height: 30vh;
  background-color: transparent;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 1;
}

.umboarding-identification-container-controls {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15vh;
  display: flex;
  gap: 1rem;
  z-index: 2;
}

.umboarding-identification-container-controls button {
  padding: 0.75rem;
  border: none;
  border-radius: var(--rounded-full);
  background-color: rgba(0, 0, 0, 0.8);
  width: 4rem;
  height: 4rem;
}

.umboarding-identification-container-controls button img {
  width: 2.5rem;
  height: 2.5rem;
}


@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}


@media (min-width: 600px) {
  .umboarding-identification-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
