@import url("/main.css");

.umboarding-waiting-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 2rem;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: left;
  color: white;
}

.umboarding-waiting-container span {
  display: flex;
  gap: 1rem;
}

.umboarding-waiting-container h1 {
  text-align: center;
}

.umboarding-waiting-container-dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: var(--rounded-full);
  background-color: var(--orange-500);
}

.umboarding-waiting-container-dot-fill {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: var(--rounded-full);
  border: 1px solid var(--orange-500);
}


@media (min-width: 600px) {
  .umboarding-waiting-container{
    padding-left: 4rem;
    padding-right: 4rem;
    height: 100vh;
  }
}