@import url('/main.css');

.footer-page{
    position: fixed;
    z-index: 1000;
    background-color: var(--purple-700);
    border-top: 2px solid var(--gray-300);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 100vw;
    bottom: 0;
    left: 0;
}

.footer-page-shortcut img{
    width: auto;
    height: 1rem;
}

.footer-page-nav{
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-around;
}

.footer-page-shortcut{
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    font-size: var(--text-xs);
    font-weight: 300;
    text-transform: uppercase;
    color: white;
}