@import url("/main.css");

body{
  overflow-y: scroll;
}

.umboarding-payment-container-select-language {
  position: absolute;
  right: 2rem;
  top: 1rem;
}

.umboarding-payment-container {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 2em;
  padding-top: 3.5rem;
}

.umboarding-payment-container h1 {
  color: white;
  text-align: center;
}

.umboarding-payment-container button {
  border-radius: var(--rounded-2xl);
  border: none;
  color: var(--purple-600);
  background-color: white;
  padding: 0.5rem 2rem;
  font-size: var(--text-base);
  font-weight: var(--font-medium);
  text-transform: uppercase;
}

.umboarding-payment-container button:disabled {
  opacity: 0.7;
}


.umboarding-payment-container-cots-box {
  width: 100%;
  border-radius: var(--rounded-lg);
  border-top: 0.75rem solid var(--purple-700);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  background-color: white;
  display: flex;
  flex-direction: column;
}

.umboarding-payment-container-cots-box-details {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  place-items: center;
}

.umboarding-payment-container-cots-box-details
  .umboarding-payment-container-cots-box-details-value:first-of-type {
  border-right: 1px solid var(--gray-500);
}

.umboarding-payment-container-cots-box-details-value {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem;
}

.umboarding-payment-container-cots-box span {
  text-align: center;
  color: var(--gray-500);
  font-size: var(--text-sm);
  font-weight: var(--font-light);
}

.umboarding-payment-container-cots-box h2 {
  color: var(--purple-400);
  font-size: var(--text-base);
  font-weight: var(--font-semibold);
}

.umboarding-payment-container-cots-box-total-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-top: 1px solid var(--gray-500);
}

.umboarding-payment-container-credicard {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: var(--rounded-md);
  background-color: white;
  padding: 5rem 1rem 3.5rem 1rem;
  width: 100%;
}

.umboarding-payment-container-credicard-icon-card {
  position: absolute;
  top: 2rem;
  left: 1rem;
  height: 2rem;
}

.umboarding-payment-container-credicard-icon-flag {
  height: 1rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.umboarding-payment-container-credicard-input-field-text {
  position: relative;
  margin-bottom: 0.5rem;
}
.umboarding-payment-container-credicard-input-field-text input {
  padding-bottom: 0.125rem;
  color: var(--gray-600);
  font-size: var(--text-lg);
  border: none;
  background: none;
  outline: none;
  width: 100%;
  border-radius: 0;
  border-bottom: var(--purple-700) 2px solid;
  appearance: none;
  -webkit-appearance: none;
}

.umboarding-payment-container-credicard-input-field-text-input-required {
  color: red;
}

.umboarding-payment-container-credicard-input-field-text-input-required::after {
  content: "*"
}

.umboarding-payment-container-credicard-input-field-text label {
  position: absolute;
  bottom: 50%;
  left: 0;
  color: var(--gray-500);
  transform: translateY(50%);
  font-size: var(--text-xs);
  pointer-events: none;
  transition: 0.5s;
}

.umboarding-payment-container-credicard-input-field-text input:focus ~ label,
.umboarding-payment-container-credicard-input-field-text input:valid ~ label {
  bottom: -0.5rem;
  font-size: var(--text-xs);
}

#umboarding-payment-container-credicard-input-field-text-cvv {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.umboarding-payment-container-credicard-input-fields {
  width: 100%;
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
}

#umboarding-payment-container-credicard-input-field-text-cardrolder{
  margin-top: 0.25rem;
  font-size: var(--text-sm);
  width: 24ch;
}

.umboarding-payment-container-credicard-input-fields .umboarding-payment-container-credicard-input-field-text:last-child input{
  width: 5ch;
}

#umboarding-payment-container-credicard-input-field-text-number {
  font-size: var(--text-2xl);
}

#umboarding-payment-container-credicard-input-field-text-cvv input {
  width: 3ch;
}

@media (min-width: 600px) {
  body{
    overflow-y: auto;
  }

  .umboarding-payment-container{
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

