@import url("/main.css");

body{
  overflow-y: auto;
}

.umboarding-review-container-select-language {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.umboarding-review-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  padding-top: 4rem;
}

.umboarding-review-container h1 {
  color: white;
  text-align: center;
}

.umboarding-review-container-documents{
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.umboarding-review-container-documents img{
  width: 300px;
  height: 200px;
}

.umboarding-review-container ul li {
  list-style: none;
}

.umboarding-review-container-box {
  width: 90%;
  border-radius: var(--rounded-lg);
  border-top: 0.75rem solid var(--purple-700);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  background-color: white;
}

.umboarding-review-container-box li {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--gray-500);
}

.umboarding-review-container-box li:last-child {
  border-bottom: none;
}

.umboarding-review-container-box-description {
  color: var(--gray-500);
  font-size: var(--text-2xs);
  font-weight: var(--font-light);
}

.umboarding-review-container-box-data {
  color: var(--gray-600);
  font-size: var(--text-sm);
  font-weight: var(--font-medium);
}

.umboarding-review-container-links {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.umboarding-review-container-link-default {
  border-radius: var(--rounded-2xl);
  border: 1px white solid;
  color: white;
  background-color: transparent;
  padding: 0.5rem 2rem;
  font-size: var(--text-sm);
  font-weight: var(--font-medium);
  text-transform: uppercase;
}

.umboarding-review-container-link-primary {
  border-radius: var(--rounded-2xl);
  border: none;
  color: var(--purple-600);
  background-color: white;
  padding: 0.5rem 2rem;
  font-size: var(--text-sm);
  font-weight: var(--font-medium);
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .umboarding-review-container{
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .umboarding-review-container-documents{
    grid-template-columns: 1fr 1fr;
  }
}
