@import url("/main.css");

.room-information-container {
  border-radius: var(--rounded-lg);
  border-top: 0.75rem solid var(--purple-700);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  background-color: white;
}

.room-information-container h2 {
  font-size: var(--text-sm);
  font-weight: var(--font-semibold);
  padding: 1rem;
}

.room-information-container-inputs {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  border-top: 1px solid var(--gray-300);
  border-bottom: 1px solid var(--gray-300);
}

.room-information-container-inputs div:first-child {
  border-right: 1px solid var(--gray-300);
}

.room-information-container-inputs-date {
  padding: 1rem;
}

.room-information-container-inputs-date-custom {
  position: relative;
  display: flex;
  align-items: center;
}

.room-information-container-inputs-date label {
  font-weight: var(--font-semibold);
  font-size: var(--text-xs);
}

.room-information-container-inputs-date input[type="date"] {
  border: none;
  outline: none;
  font-size: var(--text-sm);
  font-weight: var(--font-light);
  width: 100%;
}

.room-information-container-inputs-date-calendar-icon {
  position: absolute;
  right: 2px;
  background-color: var(--orange-500);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border-radius: var(--rounded-xs);
  pointer-events: none;
}

.room-information-container-data {
  display: grid;
  gap: 0.5rem;
  padding: 1rem;
  padding-top: 0;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.room-information-container-data-description {
  color: var(--gray-500);
  font-size: var(--text-xs);
  font-weight: var(--font-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
}

.room-information-container-data-item {
  color: var(--purple-400);
  font-size: var(--text-sm);
  font-weight: var(--font-semibold);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.room-information-container-data-item-password{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.room-information-container-data-item-password input{
  color: var(--purple-400);
  outline: none;
  font-size: var(--text-sm);
  font-weight: var(--font-semibold);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--gray-500);
  width: 8ch;
}

.room-information-container-data-item-password input:disabled{
  border: none;
}

.room-information-container-data-item-password img{
  width: 1.25rem;
  height: 1.25rem;
}

.room-information-container-data-open-door{
  display: flex;
  align-items: center;
  justify-content: center;
}

.room-information-container-address {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.room-information-container-address img{
    height: 1.5rem;
    width: auto;
}

.room-information-container-address div:first-of-type{
    display: flex;
    flex-direction: column;
    font-weight: var(--font-light);
    font-size: var(--text-2xs);
    color: var(--gray-500);
}
