@import url("/main.css");

.open-door-container {
  font-size: var(--font-sm);
  font-weight: var(--font-semibold);
  border: none;
  border-radius: var(--rounded-xs);
  color: white;
  background-color: var(--purple-500);
  padding: 0.5rem 1rem;
  border: 2px solid white;
}

.open-door-container:not(:disabled){
  animation: pulse 2s ease 0s infinite normal forwards;
}

.open-door-container:disabled {
  position: relative;
  color: var(--gray-500);
  background-color: white;
  font-weight: var(--font-light);
}

.open-door-container:disabled::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 0.25rem solid #22c55e;
  border-right: 0.25rem solid #22c55e;
  border-radius: 2px;
  animation: border-top-loading 5s normal;
}

.open-door-container:disabled::after{
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 0.25rem solid #22c55e;
  border-left: 0.25rem solid #22c55e;
  border-radius: 2px;
  animation: border-bottom-loading 5s normal;
}

@keyframes border-top-loading {
  0%{
    width: 0px;
    height: 0px;
  }
  25%{
    width: 100%;
    height: 0px;
  }
  50%{
    width: 100%;
    height: 92%;
  }
  100%{
    width: 100%;
    height: 92%;
  }
}


@keyframes border-bottom-loading {
  0%{
    width: 0px;
    height: 0px;
    opacity: 0;
  }
  50%{
    width: 0p;
    height: 0px;
    opacity: 0;
  }
  50.1%{
    width: 0px;
    height: 0px;
    opacity: 1;
  }
  75%{
    width: 100%;
    height: 0px;
    opacity: 1;
  }
  100%{
    width: 100%;
    height: 92%;
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.01);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes progress {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
