@import url("/main.css");

.home-skeleton {
  position: relative;
  margin-bottom: 0.75rem;
  color: transparent
}
.home-skeleton::before, .home-skeleton::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(90deg, var(--gray-600), var(--gray-300), var(--gray-600));
  background-size: 200%;
  animation: skeleton 1s infinite reverse;
}

.home-skeleton::after {
  top: -0.75rem;
}

.home-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100vw;
  height: 100dvh;
  animation: coming-down 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  z-index: 1;
}

.home-container main{
  padding: 1rem;
  overflow: auto;
  height: 100dvh;
  padding-top: 1rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-container header-page, .home-container footer-page{
  display: none;
}

.home-container-box {
  border-radius: var(--rounded-lg);
  border-top: 0.75rem solid var(--purple-700);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  background-color: white;
  padding: 1rem;
}

.home-container-box[open]{
  max-height: 1000px;
  transition: max-height 0.8s ease;
}


.home-container-box summary {
  list-style: none;
  cursor: pointer;
}

.home-container-box summary::-webkit-details-marker {
  display: none;
}


.home-container-box[open] .home-container-box-option-title img {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.home-container-box:not([open]) .home-container-box-option-title img {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.home-container h1 {
  text-transform: uppercase;
  color: var(--purple-400);
  font-weight: var(--font-semibold);
  font-size: var(--text-base);
}

.home-container-box-option-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
  gap: 0.25rem;
  justify-content: center;
  border-radius: var(--rounded-md);
  background-color: var(--gray-300);
}

.home-container-box-option-icon img {
  width: 2.625rem;
  height: 2.625rem;
}

.home-container-box-option-icon p {
  font-size: var(--text-xs);
}

.home-container .home-container-section{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-container-box-option-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0px;
}

.home-container-box-option-title h3 {
  font-size: var(--text-sm);
  font-weight: var(--font-semibold);
}

.home-container-box-option-title img {
  width: 0.75rem;
  height: 0.75rem;
}

.home-container-box-option {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.home-container-box-option-icon p {
  color: var(--purple-600);
  font-weight: var(--font-regular);
}



@keyframes skeleton {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes coming-down {
  0% {
    transform: translateY(80%);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (min-width: 600px) {
  .home-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
