@import url("/main.css");

.umboarding-success-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 2rem;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: white;
  animation: coming-down 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.umboarding-success-container p {
  font-size: var(--text-sm);
  font-weight: var(--font-light);
}

.umboarding-success-container span{
    display: flex;
    gap: 1rem;
}

.umboarding-success-container-dot{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: var(--rounded-full);
    background-color: var(--orange-500);
}

.umboarding-success-container a {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  border-radius: var(--rounded-full);
  background-color: var(--purple-400);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}

@keyframes coming-down {
  0% {
    transform: translateY(80%);
  }
  100% {
    transform: translateY(0px);
  }
}


@media (min-width: 600px) {
  .umboarding-success-container{
    padding-left: 4rem;
    padding-right: 4rem;
  }
}