@import url("/main.css");

.umboarding-success-container {
  width: 100vw;
  height: 100dvh;
  display: flex;
  padding: 2rem;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: white;
}

.umboarding-success-container p {
  font-size: var(--text-sm);
  font-weight: var(--font-light);
}

.umboarding-success-container span{
    display: flex;
    gap: 1rem;
}

.umboarding-success-container-dot{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: var(--rounded-full);
    background-color: var(--orange-500);
}

.umboarding-success-container a {
  border: none;
  margin-top: 2rem;
  border-radius: var(--rounded-full);
  background-color: var(--purple-400);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  animation: pulse 2s ease 0s infinite normal forwards;
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}


@media (min-width: 600px) {
  .umboarding-success-container{
    padding-left: 4rem;
    padding-right: 4rem;
    height: 100vh;
  }
}