@import url("/main.css");

.umboarding-initial-container-spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.umboarding-initial-container {
  width: 100vw;
  height: 100dvh;
  display: none;
  padding: 2rem;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.umboarding-initial-container h1 {
  text-align: left;
}

.umboarding-initial-container img{
  margin-top: 5.5rem;
}


.umboarding-initial-container-next {
  border: none;
  border-radius: var(--rounded-xl);
  background-color: var(--purple-400);
  padding: 0.5rem 1rem;
  text-align: center;
  color: white;
  font-size: var(--text-xs);
  animation: pulse 2s ease 0s infinite normal forwards;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@media (min-width: 600px) {
  .umboarding-initial-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
